/*.nav-link, navbar-brand, a{
    color:red !important;
}*/

body{
    background-color: #f3f3f6;
    font-size: 22px;
}




.navbar-custom > .nav-link, navbar-brand, a{
    color:white !important;
    text-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2) !important;
}

.navbar-bg , .dropdown-menu{
    background-color: #30a3d5 !important;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.75) !important;
    -moz-box-shadow:    0px 6px 5px 0px rgba(50, 50, 50, 0.75) !important;
    box-shadow:         0px 6px 5px 0px rgba(50, 50, 50, 0.75) !important;
}


.navbarhover> .nav-link, navbar-brand, a:hover, dropdown-item:hover{
    text-shadow:1px 3px 2px rgba(150, 150, 150, 1); !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAnCAYAAACfdBHBAAAAT0lEQVRYhe3YIRLAMAhFQcj970yH6qpWUGZ2RfST/GRVRUTczzJ5loa3Oj+IeE08AADfGSNDjJExHZ9L27d2AwA86jGy9Z73Pz/GGBkRkRdFPxASI8GIqwAAAABJRU5ErkJggg==") !important;
}

.h3title{
    color: #30a3d5 !important;
}

.navbar-light .navbar-toggler {
    color: rgb(255 255 255);
    border-color: rgb(255 255 255);
}

a.dropdown-item:hover{
    background-color: #30a3d5 !important;
    text-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2) !important;
    font-weight: bold !important;
}
.pone{
    background-color: #30a3d5b5 !important;
    color:white !important;
}

/*.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color:red;
}
*/


.formlog{
    background-color: #30a3d5b5 !important;
    color:white !important;
    -webkit-box-shadow: 0px 1px 16px 0px rgba(50, 50, 50, 0.75) !important;
    -moz-box-shadow:    0px 1px 16px 0px rgba(50, 50, 50, 0.75) !important;
    box-shadow:         0px 1px 16px 0px rgba(50, 50, 50, 0.75) !important;
}


