{% extends "Template.html" %}
{% block title %} <title>Crea ordine</title>{% endblock %}
{% block content %}
{{ super() }}

<!--Nuovo ordine-->
<div class="container my-5" id="NewOrder">
     <div class="row centrato col-xs-2 col-sm-3 col-md-2 col-lg-2">
        <button class="buttonsearch fw-bold my-3 " onclick="history.back()">indietro</button>
     </div>
    <br>
    <div class="container">
        <div class=" " id="HeadLocal">
            <div class="row centrato">
                <div class="centrato buttonsearch fw-bold my-3" style="font-size: 200%"><b>Locali disponibili</b></div>
            </div>
            <br>
            <div class="row centrato">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Nome locale</b></div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Immagine</b></div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"></div>
            </div>
            <br>
            <hr>
        </div>
        <div id="AvaibleLocal">
            <div class="row centrato">

            </div>

           {% for p in list %}
            <div class="row centrato">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">{{ p['LocalName'] }}</div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><img src="" alt="" class="anteprima"></div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><a href="{{url_for('views.selectproducts',store=p['Email'])}}"> <button type="button" class="buttonsearch fw-bold my-3" onclick="">Seleziona</button></a></div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>


{% block footer %}
{% endblock %}
{% endblock %}