{% extends "Template.html" %}
{% block title %} <title>Accedi</title>{% endblock %}
{% block content %}
{{ super() }}
<!--Bottoni homepage-->
<div class="container my-5">
    <div class="row">
        <div class="pfive centrato col-sm-5 col-md-4 col-lg-3" onclick="viewNewOrder()">
            <p class="text-center fw-bold">Crea un ordine</p>
        </div>
        <div class="col-xs-12 mobilestacco">
            <br>
        </div>
        <div class="pfive centrato col-sm-5 col-md-4 col-lg-3" onclick="viewHistoryOrder()">
            <p class="text-center fw-bold">Storico ordini</p>
        </div>
    </div>
</div>

{% endblock %}