{% extends "Template.html" %}
{% block title %} <title>Modifica il tuo profilo - Food@Home</title>{% endblock %}
{% block content %}
{{ super() }}

<!--form-->
<div class="container formlog my-3 ">

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <form method="POST">
                    <div class="mb-3 my-3 form-group">
                        <label class="form-label fw-bold ">Via: </label>
                        <input type="address" class="form-control" id="Street" name="Street" placeholder="Via/Viale">
                    </div>
                    <div class="mb-3 my-3 form-group">
                        <label class="form-label fw-bold ">Città: </label>
                        <input type="address" class="form-control" id="City" name="City" placeholder="Inserisci la tua città">
                    </div>
                    <div class="mb-3 my-3 form-group">
                        <label class="form-label fw-bold ">Provincia: </label>
                        <input type="address" class="form-control" id="Province" name="Province" placeholder="Inserisci la tua provincia">
                    </div>
                    <div class="mb-3 my-3 form-group">
                        <label  class="form-label fw-bold">Numero di cellulare: </label>
                        <br>
                        <input type="telephone" class="form-control" id="Telephone" name="Telephone" pattern="[0-9]{10}" placeholder="Inserisci il tuo numero di cellulare">
                    </div>
                    <div class="mb-3 my-3 form-group">
                        <label class="form-label fw-bold">Email: </label>
                        <br>
                        <input type="email" class="form-control" id="Email" name="Email" placeholder="nome@dominio.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" >
                    </div>
                    <div class="mb-3 my-3 form-group">
                        <label class="form-label fw-bold">Password: ********** </label>
                        <br>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Inserisci la tua password">
                    </div>
                    <div class="centrato">
                        <button type="submit" class="btn btn-primary fw-bold my-3">Aggiorna</button>
                    </div>
            </form>
        </div>
        <div class="col-3">

        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{%endblock%}

