{% extends "Template.html" %}
{% block title %} <title>Food@Home-Locale</title>{% endblock %}
{% block content %}
{{ super() }}

<!--Bottone homepage-->
<br>
<br>
<div class="container my-5 centrato">
    <div class="row centrato">
        <div class="pfive centrato col-xs-4 col-sm-5 col-md-4 col-lg-3" style="height: 160px" onclick="viewMenuList()">
            <p class="text-center centrato fw-bold">Visualizza menù</p>
        </div>
        <div class="col-xs-12 mobilestacco">
            <br>
        </div>
        <div class="pfive centrato col-xs-4 col-sm-5 col-md-4 col-lg-3" style="height: 160px" onclick="viewInsertProduct()">
                <p class="text-center fw-bold">Inserisci prodotto</p>
        </div>
    </div>
</div>

<!--Inserisci prodotto-->
<div class="container my-5" id="InsertProduct">
    <style>
        #InsertProduct{
            display: none;
        }
    </style>
    <div class="row centrato">
        <div class="centrato buttonsearch fw-bold my-3" style="font-size: 200%"><b>Inserisci Prodotto</b></div>
    </div>
    <br>
    <br>
    <form method="POST">
    <div class="row">
        <div class="mb-3 my-3 col-sm-8 col-md-6 col-lg-4 centrato">
            {{ form.hidden_tag() }}
            {{form.name.label (class="form-label fw-bold ptwo")}}
            {{form.name (class="form-control", placeholder="Inserisci il nome del prodotto") }} <br>
            {{form.price.label (class="form-label fw-bold ptwo")}}
            {{form.price (class="form-control", placeholder="Inserisci il prezzo del prodotto") }} <br>
            {{form.description.label (class="form-label fw-bold ptwo")}}
            {{form.description (class="form-control", placeholder="Inserisci una descrizione del prodotto") }} <br>

        </div>
        <div class="col-md-1 col-lg-2">
        </div>
        <div class="mb-3 my-3 col-sm-6 col-md-5 col-lg-3 centrato">
            <label class="form-label fw-bold ptwo">Allega Immagine</label>
            <br>
            <input type="file" id="myfile" name="myfile">
            <br><br>
            <label class="form-label fw-bold ptwo">Anteprima Immagine</label><br>
            <img src="../static/img/450.png" alt="" class="anteprima">
        </div>
        <div class="row centrato">
            <div class="centrato">
                {{form.submit(class="buttonsearch fw-bold my-3")}}
            </div>
        </div>
    </div>
    </form>
    <br>
</div>

<!--Lista prodotti-->
    <br><br>
<div id="MenuList" class="container">
    <style>
        #MenuList{
            display: none;
        }
    </style>
    <br>
    <br>
    <div class="row centrato">
        <div class="centrato buttonsearch fw-bold my-3" style="font-size: 200%"><b>Menù</b></div>
    </div>

    <br>
    <div class="row centrato">
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><b>Nome</b></div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><b>Prezzo</b></div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><b>Descrizione</b></div>
        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><b>Immagine</b></div>
    </div>

    {% for p in list %}
    <br>
        <hr>
        <br>
        <div class="row centrato">
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><b> {{ p['Name'] }}</b></div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">€ {{ p['Price'] }}</div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"> {{ p['Description'] }}</div>
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12"><img class="anteprima" src="{{p['Image'] }}" alt=""> </img> </div>
        </div>
    {% endfor %}

    <br>
</div>


<div class="container my-5">
    <div class="row">

    </div>
</div>
<div class="container my-5">
    <div class="row">

    </div>
    <div class="container my-5">
        <div class="row">

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


{% block footer %}
{% endblock %}
{%endblock%}

















