{% extends "Template.html" %}
{% block title %} <title>Accedi</title>{% endblock %}
{% block content %}
{{ super() }}
<br>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="titolo fw-bold">Accedi</h2>
        </div>
        <div class="col-4"></div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12"><br>
        </div>
    </div>
</div>
<div class="container formlog my-3 ">

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <form method="POST">
                 {{ form.hidden_tag() }}
                <div class="mb-3 my-3 form-group">

                    {{ form.email.label (class="form-label fw-bold ")}}
                    {{ form.email (class="form-control")}}


                </div>
                <div class="mb-3 form-group">

                    {{ form.password.label (class="form-label fw-bold ")}}
                    {{ form.password (class="form-control", autocomplete="off") }}

                </div>
                {{ form.submit(class="btn btn-primary fw-bold my-3")}}

            </form>
        </div>
        <div class="col-3">

        </div>
    </div>

</div>

{% endblock %}