{% extends "Template.html" %}
{% block title %} <title>Crea ordine</title>{% endblock %}
{% block content %}
{{ super() }}

<!--- Storico ordini-->
<div class="container my-5" id="HistoryOrder">
    <div>
        <div class="row centrato">
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12"><b>Locale</b></div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12"><b>Stato</b></div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12"><b>Prezzo</b></div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12"><b>Data</b></div>
        </div>
    </div>

    {% for order in list %}
    <br>
    <hr>
    <br>
    <div class="row centrato">
        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">{{ order['Rider'] }}</div>
        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">{{ order['Status'] }}</div>
        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">{{ order['Price'] }}€</div>
        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">{{ order['Date'] }}</div>
    </div>
    {% endfor %}
</div>

{% block footer %}
{% endblock %}
{% endblock %}