{% extends "Template.html" %}
{% block title %} <title>Food@Home-Rider</title>{% endblock %}
{% block content %}
{{ super() }}


<!--Bottoni homepage-->
<br>
<br>
<div class="container my-5 centrato">
    <div class="row centrato">
        <div class="pfive centrato col-xs-4 col-sm-5 col-md-4 col-lg-3">
            <p class="text-center fw-bold" onclick="viewShiftPage()">Prenota turno</p>
        </div>
        <div class="col-xs-12 mobilestacco">
            <br>
        </div>
        <div class="pfive centrato col-xs-4 col-sm-5 col-md-4 col-lg-3">
            <p class="text-center fw-bold" onclick="viewOrderPage()">Prenota ordine</p>
        </div>
    </div>
</div>

<!-- Turni -->

<div id="ShiftPage" class="container">
    <style>
        #ShiftPage{
            display: none;
        }
    </style>
    <div class="hiddenmedium hiddensmall">
        <br>
        <hr>
        <br>
        <div class="row centrato">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Data Turno</b></div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Orario di inizio/fine</b></div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Prenotazione</b></div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row centrato">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">10/02/2022</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">17:00/00:00</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3">Prenota turno</button></div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row centrato">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">10/02/2022</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">18:00/23:30</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3">Prenota turno</button></div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row centrato">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">10/02/2022</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">19:00/00:00</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3">Prenota turno</button></div>
    </div>
    <br>
</div>

<!-- Ordini -->

<div id="OrderPage" class="container">
    <style>
        #OrderPage{
            display: none;
        }
    </style>
    <div class="hiddenmedium hiddensmall">
        <br>
        <hr>
        <br>
        <div class="row centrato">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Indirizzo locale</b></div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Indirizzo cliente</b></div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Prenotazione</b></div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row centrato">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Roma,22 Casoria - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Garibaldi, 99 Afragola - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3">Prenota ordine</button></div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row centrato">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Roma,22 Casoria - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Garibaldi, 99 Afragola - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3">Prenota ordine</button></div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row centrato">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Roma,22 Casoria - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Garibaldi, 99 Afragola - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3">Prenota ordine</button></div>
    </div>
    <br>
</div>

{%endblock%}