{% extends "Template.html" %}
{% block title %} <title>Food@Home-Rider</title>{% endblock %}
{% block content %}
{{ super() }}


<!--Bottoni homepage-->
<br>
<br>
<div class="container my-5 centrato">
    <div class="row centrato">
        <div class="pfive centrato col-xs-10 col-sm-10 col-md-6 col-lg-4" onclick="viewOrderPage()">
            <p class="text-center fw-bold" >Prenota ordine</p>
        </div>
    </div>
</div>

<!-- Ordini -->

<div id="OrderPage" class="container">
    <style>
        #OrderPage{
            display: none;
        }
    </style>
    <div class="hiddenmedium hiddensmall">
        <div class="row centrato">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Indirizzo locale</b></div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Indirizzo cliente</b></div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><b>Prenotazione</b></div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row centrato">
        <br>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Roma,22 Casoria - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">Via Garibaldi, 99 Afragola - Napoli</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3" onclick="viewOrderSpec()">Visualizza</button></div>
        <br><br>
        <div id="OrderSpec">
            <style>
                #OrderSpec{
                    display: none;
                }
            </style>
            <div class="row centrato ">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 hiddensmall "><b>Prodotto</b></div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 hiddensmall"><b>Prezzo</b></div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"><button type="button" class="buttonsearch fw-bold my-3" style="background-color: green; border-color: green">Prenota</button></div>
            </div>
            <div class="row centrato ">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">descrizione</div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">descrizione</div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12"></div>
            </div>
            <br>
        </div>
        <hr>
    </div>
</div>
{% block footer %}
{% endblock %}
{%endblock%}