{% extends "Template.html" %}
{% block title %} <title>Registrati</title>{% endblock %}
{% block content %}
{{ super() }}

<br>
<div class="container">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-3">
            <h2 class="titolo fw-bold">Registrati</h2>
        </div>
        <div class="col-4"></div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-12"><br>
        </div>
    </div>
</div>
<div class="container formlog my-3 ">

    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <form method="POST">
                    <div class="mb-3 my-3 form-group">
                        {{ form.hidden_tag() }}
                        {{ form.name.label (class="form-label fw-bold")}}
                        {{ form.name (class="form-control", placeholder="Inserisci il tuo nome")}}

                    </div>
                    <div class="mb-3 form-group">
                        {{ form.surname.label (class="form-label fw-bold")}}
                        {{ form.surname (class="form-control", placeholder="Inserisci il tuo cognome")}}
                    </div>

                    <div class="mb-3 my-3 form-group">
                         {{ form.street.label (class="form-label fw-bold")}}
                        {{ form.street (class="form-control", placeholder="Via/Viale")}}

                    </div>

                    <div class="mb-3 my-3 form-group">
                         {{ form.city.label (class="form-label fw-bold")}}
                        {{ form.city (class="form-control", placeholder="Inserisci la tua città")}}
                    </div>

                    <div class="mb-3 my-3 form-group">
                        {{ form.province.label (class="form-label fw-bold")}}
                        {{ form.province (class="form-control", placeholder="Inserisci la tua provincia")}}
                    </div>
                    <div class="mb-3 my-3 form-group">
                        <div class="it-datepicker-wrapper">
                        {{ form.date.label (class="form-label fw-bold")}}
                        {{ form.date (class="form-control", placeholder="gg/mm/aaaa" , type="date")}}

                        </div>
                        <div class="mb-3 my-3 form-group">
                            {{ form.gender.label (class="form-label fw-bold")}}
                            <br>
                            {{form.gender}}
                        </div>
                        <div class="mb-3 my-3 form-group">
                           {{ form.telephone.label (class="form-label fw-bold")}}
                            <br>
                            {{ form.telephone (class="form-control", placeholder="Inserisci il tuo numero di cellulare" ,pattern="[0-9]{10}" )}}
                        </div>
                        <div class="mb-3 my-3 form-group">
                            {{ form.taxcode.label (class="form-label fw-bold")}}
                            <br>
                            {{ form.taxcode (class="form-control", onchange="upperCase()",  pattern="[A-Z]{6}[0-9]{2}[A-Z]{1}[0-9]{2}[A-Z]{1}[0-9]{3}[A-Z]{1}", placeholder="Inserisci il tuo codice fiscale")}}

                        </div>
                        <div class="mb-3 my-3 form-group">

                            {{ form.email.label (class="form-label fw-bold")}}
                            <br>
                            {{ form.email (class="form-control",  placeholder="nome@dominio.com", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" )}}
                        </div>
                        <div class="mb-3 my-3 form-group">
                            {{ form.password.label (class="form-label fw-bold")}}
                            <br>
                            {{ form.password (class="form-control",  placeholder="Inserisci la tua password")}}

                        </div>
                    </div>

                <button onclick="signinClientControl()" type="submit" class="btn btn-primary fw-bold my-3">Registrati</button>
            </form>
        </div>
        <div class="col-3">

        </div>
    </div>

</div>



{% endblock %}