<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Food@Home</title> {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/foodapp.css') }}">
    <script  type="text/javascript" src="{{ url_for('static', filename = '/js/function.js') }}"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
{% block body %}
<b>
    <nav class="navbar-bg navbarhover navbar-custom padding-left navbar navbar-expand-lg navbar-light text-center">
        {% if current_user.is_authenticated %}

        {% if current_user.type==  2 %}
                <!--Navbar-->
                <div class="container-fluid">
                    <div class="col-md-3 text-center">
                        <a class="navbar-brand mx-auto" href="{{url_for('views.index')}}"><img width="100px" height="100px" src="{{ url_for('static', filename = 'img/logo5.png') }}"> Food@Home </img> </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse col-md-6" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item text-center">
                                <a class="nav-link" href="{{url_for('views.localeditprofile')}}">Modifica Profilo</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                            <li class="nav-item">
                                <a class="nav-link align-right" href="{{url_for('auth.logout')}}"">Esci</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </nav>
        </b>

        {%endif%}

        {% if current_user.type==  1 %}
                 <!--Navbar-->
                <div class="container-fluid">
                    <div class="col-md-3 text-center">
                        <a class="navbar-brand mx-auto" href="{{url_for('views.index')}}"><img width="100px" height="100px" src="{{ url_for('static', filename = 'img/logo5.png') }}"> Food@Home </img> </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse col-md-6" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item text-center">
                                <a class="nav-link" href="{{url_for('views.ridereditprofile')}}">Modifica Profilo</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                            <li class="nav-item">
                                <a class="nav-link align-right" href="{{url_for('auth.logout')}}">Esci</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </nav>
        </b>

        {%endif%}

          {% if current_user.type==  0 %}
                <!--Navbar-->
                <div class="container-fluid">
                    <div class="col-md-3 text-center">
                        <a class="navbar-brand mx-auto" href="{{url_for('views.index')}}"><img width="100px" height="100px" src="{{ url_for('static', filename = 'img/logo5.png') }}"> Food@Home </img> </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse col-md-6" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item text-center">
                                <a class="nav-link" href="{{url_for('views.customereditprofile')}}">Modifica Profilo</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
                            <li class="nav-item">
                                <a class="nav-link align-right" href="{{url_for('auth.logout')}}">Esci</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </nav>
        </b>

        {%endif%}

{% else %}

        <div class="container-fluid">
            <div class="col-md-3 text-center">
                <a class="navbar-brand mx-auto" href="{{url_for('views.index')}}"><img width="100px" height="100px" src="{{ url_for('static', filename = 'img/logo5.png') }}"> Food@Home </img> </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-md-6" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item text-center">
                        <a class="nav-link active " aria-current="page" href="{{url_for('views.index')}}">Home</a>
                    </li>
                    <li class="nav-item dropdown text-center">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Lavora con noi
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{url_for('auth.signinrider')}}">Diventa un rider!</a></li>
                            <li><a class="dropdown-item" href="{{url_for('auth.signinlocal')}}">Aggiungi il tuo negozio</a></li>

                        </ul>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{{url_for('views.about')}}">Chi siamo</a>
                    </li>

                     <li class="nav-item text-center">
                        <a class="nav-link" href="{{url_for('auth.login')}}">Accedi</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </nav>
</b>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable text-center fade show" role="alert">
      {{ message }}
        <button type="button" class="btn-close" data-dismiss="alert"></button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show text-center" role="alert">
      {{ message }}
        <button type="button" class="btn-close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}


{% block content %}
{% endblock %}
<!--Footer-->
<div class=" container-fluid mx-auto my-3 footer mt-auto ">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <a href="{{url_for('views.index')}}" class="pfooter fw-bold"><p>Food@Home</p></a>
            <a href="{{url_for('views.about')}}" class="pfooter"><p>Chi siamo</p></a>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <a href="#" class="pfooter fw-bold"><p>Lavora con noi</p></a>
            <a href="{{url_for('auth.signinrider')}}" class="pfooter"><p>Diventa un rider</p></a>
            <a href="{{url_for('auth.signinlocal')}}" class="pfooter"><p>Hai un'attività?</p></a>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <a href="#" class="pfooter fw-bold"><p>Note legali</p></a>
            <a href="#" class="pfooter"><p>Termini e condizioni</p></a>
            <a href="#" class="pfooter"><p>Privacy policy</p></a>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <br>
            <a href="#"><img src="{{ url_for('static', filename = 'img/instagram.png') }}" class="socialpic" alt="Seguici su instagram"></a>
            <a href="#"><img src="{{ url_for('static', filename = 'img/facebook.png') }}" class="socialpic" alt="Seguici su facebook"></a>
            <a href="#"><img src="{{ url_for('static', filename = 'img/twitter.png') }}" class="socialpic" alt="Seguici su twitter"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <p class="pfooter fw-bold">© 2022 Food@Home S.p.A.</p>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>